---
layout: default
title: Press releases
suppress_header: true
extra_css:
  - press.css
---

.wrapper
  .press-container
    .press-content
      %h1 GitLab in the news
      %h3
        Press releases and GitLab mentions
.sub-wrapper
  .container.text-center
    %p
      Up one level to the
      %a{href: "/press/"} Press and Logos
      page.
.blog.archives
  .wrapper.section
    %ul.post-list
      - data.press.sort_by(&:date).reverse.each do |pr|
        %li.post-list-item
          - if pr.date
            %time
              = pr.date.to_time.strftime '%b %e, %Y'
          = link_to pr.link do
            = pr.title
