---
title: Blog
comments: false
suppress_header: true
description: "Visit the GitLab blog to learn about releases, applications, contributions, news, events, and more."
extra_js:
  - blog-home.js
---

.blog.list
  .wrapper
    .section
      = partial "includes/blog/category-nav"

      = partial "includes/newsletter-signup.html"

  = partial "includes/blog/list", locals: {articles: blog.articles[0...2]}
  = partial "includes/blog/list", locals: {articles: blog.articles[2...4]}

  = partial "includes/blog/try"

  = partial "includes/blog/list", locals: {articles: blog.articles[4...6]}
  = partial "includes/blog/list", locals: {articles: blog.articles[6...8]}

  = partial "includes/blog/install"

  = partial "includes/blog/list", locals: {articles: blog.articles[8...10]}
  = partial "includes/blog/list", locals: {articles: blog.articles[10...12]}

  .wrapper
    .section
      %a.browse{href: "/blog/archives.html"} Browse the archives
